

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://www.creative-tim.com/?AFFILIATE=128200">Creative Tim</a> 
                      - Modified by <a target="_blank" rel="noopener noreferrer" href="https://inoy.be">Yoni</a>
          </div>
        </div>
    </footer>
