<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        
        <a target="_blank" rel="noopener noreferrer" 
           href="https://subsaver.be" class="simple-text logo-normal">
           <img src="/static/assets/img/SubSaverLogo3.png" alt="logo" style="width: 100px; height: 100px; opacity: 0.7;">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/page-user.html">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item {% if 'ManageSubscriptions' in segment %} active {% endif %}">
            <a class="nav-link" href="/MySubscriptions.html">
              <i class="material-icons">library_books</i>
              <p>My Subscriptions</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">logout</i>
              <p>Logout</p>
            </a>
          </li>

          <li class="nav-item active-pro ">
            <a class="nav-link" 
               target="_blank" rel="noopener noreferrer"  
               href="https://inoy.be">
              <i class="material-icons">unarchive</i>
              <p>Inoy.be</p>
            </a>
          </li>

        {% else %}

          <li class="nav-item active">
            <a class="nav-link" 
               target="_blank" rel="noopener noreferrer"  
               href="https://inoy.be">
              <i class="material-icons">unarchive</i>
              <p>Inoy.be</p>
            </a>
          </li>          

        {% endif %}
        </ul>
      </div>

    </div>
