{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary" style="background: blue;">
                  <h4 class="card-title ">Active Subscriptions</h4>
                  <p class="card-category"> This view contains your active subscriptions</p>
                </div>
                <div class="card-body">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                      <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon" style="background:rgba(229, 9, 20, 0); padding: 0px;">
                          <img src="/static/assets/img/netflix.png" alt="netflix" style="object-fit: fill; width: 75px; height: 75px;">
                        </div>
                        <p class="card-category">Netflix</p>
                        <h3 class="card-title">Premium</h3>
                        <h3 class="card-title">€18,99</h3>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">contract_delete</i> Automate Subscriptions
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary" style="background: green;">
                  <h4 class="card-title ">Disabled Subscriptions</h4>
                  <p class="card-category"> This view contains your Disabled subscriptions</p>
                </div>
                <div class="card-body">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                      <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon" style="background:rgba(229, 9, 20, 0); padding: 0px;">
                          <img src="/static/assets/img/netflix.png" alt="netflix" style="object-fit: fill; width: 75px; height: 75px;">
                        </div>
                        <p class="card-category">Netflix</p>
                        <h3 class="card-title">Premium</h3>
                        <h3 class="card-title">€18,99</h3>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">contract_delete</i> Automate Subscriptions
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
